<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Recommendations</title>
</head>
<body>
    <div class="container">
        <h1>Recommended Books</h1>
        {% if message %}
            <p>{{ message }}</p>
        {% else %}
            <ul>
                {% for book in books %}
                    <li>
                        <h2>{{ book.title }}</h2>
                        <p><strong>Author:</strong> {{ book.author }}</p>
                        <img src="{{ book.thumbnail }}" alt="Book cover">
                        <p><strong>Sentimental Analysis:</strong> {{ book.polarity_category }}</p>
                        <p><strong>Polarity Score:</strong> {{ book.polarity }}</p>
                        <p><strong>Description:</strong> {{ book.description }}</p>
                    </li>
                {% endfor %}
            </ul>
            <div class="button-container">
                <a href="/sentiment_analysis?graph_paths={{ graph_paths | join('&graph_paths=') }}" class="button sentiment-button">View Sentiment Analysis Graphs</a>
            </div>
        {% endif %}
        <a href="/" class="button other-button">Back to search</a>
    </div>
</body>
</html>
